<%= form_for([@article, @article.comments.new], remote: true) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :body %><br />
      <%= f.text_area :body %>
    </div>

    <div class="actions">
      <%= f.submit 'Add' %>
    </div>

<% end %>