<%= div_for article do %>
  <h3>
    <%= link_to article.title, article %>

    <% if article.owned_by? current_user %>

    <span class="action">
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Delete', article, confirm: 'Are you sure?', method: :delete %>


    </span>

    <% end %>

  </h3>
    <%= simple_format article.body %>


<% end %>